---
layout: default
title: Acerca de Wine Tech
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <!-- <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/inspiration-geometry.png" style="" alt=""> -->
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Wine Tech</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Compartiendo la pasión por la tecnología
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>Acerca de Wine Tech</h4>
        <p>Wine Tech nace con la intención de mostrarse como una alternativa y una fuente confiable de información al poco explorado mundo tecnológico en Colombia y América Latina. Sin embargo, no tenemos la intención de decirles a nuestros usuarios que un gadget tiene 3 GB de RAM, sino qué puede hacer con este a partir de sus prestaciones. Por consiguiente, así como en 1984 Apple dijo que el Macintosh era “el computador para el resto de nosotros”, WineTech será el lugar donde la tecnología será para todos nosotros. Únete a nuestra comunidad y comparte con nosotros el placer por la tecnología móvil!</p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
